@import "../../style/common";

.Pocket_NewConnection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  &-row {
    width: 100%;
    input[type="text"] {
      width: 220px;
      height: 38px;
      background: transparent;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        border: 1px solid #fff;
      }
    }
    button {
      width: 80px;
    }
  }
}